<footer>
  <h1>This is the footer</h1>
  <div class="copyright"  style="text-align: center;">
    <p>&copy; 2023 Zuhaib Shafi, Kabir Bose, Ibtehaj Jaffri. All rights reserved.</p>
    <p>&copy; 2023 ZIK banking. All rights reserved.</p>
  </div>
</footer>
