<nav>
  <a href="/" class="nav-header">ZIK Fitness</a>
  <% if (locals.loggedIn === true) { %>
  <a href="/logout">Logout</a>
  <a href="/exercises">Exercises</a>
  <% } else { %>
  <a href="/register">Register</a>
  <a href="/login">Login</a>
  <% } %>
</nav>

