<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div class ="exercise-data">
    <br>
    <h1 class="nav-header">ZIK Workout Tracker</h1>
    <table>
      <thead>
        <tr>
          <th>Workout</th>
          <th>Time</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>Description</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add your workout data rows here -->
        <tr>
          <td>Push-ups</td>
          <td>10 minutes</td>
          <td>3</td>
          <td>15</td>
          <td>Bodyweight exercise targeting chest and arms</td>
          <td>Strength</td>
        </tr>
        <tr>
          <td>Running</td>
          <td>20 minutes</td>
          <td>1</td>
          <td>-</td>
          <td>Cardiovascular exercise</td>
          <td>Cardio</td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
    </div>
</body>
</html>
