<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZIK Workouts</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=panchang@500,700,400,600&f[]=zina@400&f[]=satoshi@900,700,500,701,501,401,901,400&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body>
    <%- include('partials/navbar') %> <%- body %> <%- include('partials/footer')
    %>
  </body>
</html>
