body {
  font-family: "Satoshi", sans-serif;
  margin: 0;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 50px;
  color: #fff;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.nav-header {
  font-family: "Panchang", sans-serif;
  font-size: 1.3rem;
}

/* Homepage */
.landing-data {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exercise-data {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 95%; /* Adjusted to be wider */
  max-width: 1000px; /* Adjusted maximum width */
  margin: 20px auto;
  text-align: center;
  min-height: 90vh;
}
/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

/* Common style for containers */
.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

/* Heading style */
h1 {
  text-align: center;
  color: #333;
}

/* Button style */
button {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Submit button style */
button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
}

/* Cancel button style */
.cancel-button {
  background-color: #ccc;
  color: #333;
}

/* Hover effect for buttons */
button:hover,
.cancel-button:hover {
  opacity: 0.8;
}

/* Add a gap between buttons */
.button-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* Table style */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
/* Form style */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Label style */
label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

/* Input and Textarea style */
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid black 1px;
}

/* Cancel link style */
.cancel-link {
  margin-top: 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.add-workout-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 20px auto;
  text-align: center;
}

.edit-workout-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 20px auto;
  text-align: center;
}
/* Style for the button on the exercises page */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Style for the "Add New Workout" button */
.exercises-button {
  background-color: #4caf50; /* Green color, you can adjust this */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.exercises-button:hover {
  background-color: #45a049; /* Darker green on hover, you can adjust this */
}

/* Adjust the width of the form controls */
.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%; /* Use 100% width for responsiveness */
  padding: 8px;
  box-sizing: border-box;
}

.large-input {
  width: 100%; /* Use 100% width for responsiveness */
  padding: 12px; /* Adjust padding as needed */
  box-sizing: border-box;
}
a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.container-1 {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gym-img {
  width: 300px;
  height: 300px;
  border-radius: 1000px;
}
